<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/estilos_forms.css' %}" type="text/css">

    {{ form.media }}  <!-- ESTO DEBI PONERLO PARA QUE EL  CKEditor5  CARGUE BIEN-->
</head>
<body>
{% block content %}
<h1>Crear o Editar Dieta</h1>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Guardar</button>
</form>
<a class="regresar" href="{% url 'admin_dashboard' %}">&#8592; Regresar</a>
{% endblock %}
</body>
</html>
